@{
    ViewBag.Title = "_RoleGrid";
}
@model  PagedList.IPagedList<PHRMSAdmin.Models.RoleModel>

<div id="ManageGrid">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr style="background-color: #cacaca;">
                    <th>Role</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>


                        <td>
                            <a href="@Request.ApplicationPath.TrimEnd('/')/Role/GetRole/@item.RoleId" class="text-primary">
                                <i class="fa fa-eye"></i>

                            </a> &nbsp;
                            <a href="@Request.ApplicationPath.TrimEnd('/')/Role/UpdateRole/@item.RoleId" class="text-primary">
                                <i class="fa fa-edit "></i>
                            </a>&nbsp;
                            <a href="#" class="text-danger" data-toggle="modal" onclick="SetMessageDialog('Delete Role','@Request.ApplicationPath.TrimEnd('/')/Role/DeleteRole','@item.RoleId','Do You want To delete ?')"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="">
        @Html.Partial("_GridPaging", Model)

    </div>
    @Html.Partial("_MessageDialog", Model.PageNumber)
</div>
