@model List<PHRMS.ViewModels.ActivitiesViewModel>
<div class="gj-grid-wrapper">
    <table id="grid" class="footable table table-bordered table-hover gj-grid-table">
        <thead>
            <tr>
                <th class="" style="width: 200px;text-align: left;">
                    <div style="float: left">Activity Name</div>
                </th>
                <th class="" style="width: 200px; text-align: left;">
                    <div style="float: left">Path</div>
                </th>
                <th class="" style="width: 34px; text-align: left;">

                    <div style="float: left">Distance(Km)</div>
                </th>
                @*<th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                    <div style="float: left">Total Time</div>
                </th>*@
                <th class="" style="width: 34px; text-align: left;">
                    <div style="float: left">Date</div>
                </th>
                <th class="" style="width: 34px; text-align: left;">
                    <div style="float: left">Notes</div>
                </th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in Model)
            {
                <tr class="">
                    <td style="text-align: left;"><div data-role="display">@Item.ActivityName</div></td>
                    <td style="text-align: left;"><div data-role="display">@Item.PathName</div></td>
                    <td style="text-align: left;"><div data-role="display">@Item.Distance</div></td>
                    @*<td style="text-align: left;"><div data-role="display">@Item.ti</div></td>*@
                    <td style="text-align: left;"><div data-role="display">@Item.strCollectionDate</div></td>
                    <td style="text-align: left;"><div data-role="display">@Item.Comments</div></td>

                </tr>
            }

        </tbody>

    </table>
</div>