@model PHRMS.ViewModels.EmergencyViewModel
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal" role="form" id="EmergencyInfo">

            <div class="form-group">
                @Html.LabelFor(m => m.Primary_Emergency_Contact, new { @class = "col-xs-2 control-label" })
                @*<label class="control-label col-sm-2" style="display: inline-block;" for="Name">Name:</label>*@
                <div class="col-xs-4">
                    @*<span class="control-label col-sm-4" id="spName" style="text-align: left">James Anderson</span>*@
                    <p class="form-control-static">@Html.DisplayFor(m => m.Primary_Emergency_Contact)</p>
                </div>
                @Html.LabelFor(m => m.strPC_Relationship, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @*<span class="control-label col-sm-4" id="spEmail" style="text-align: left">abc@example.com</span>*@
                    <p class="form-control-static">@Html.DisplayFor(m => m.strPC_Relationship)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.PC_AddressLine1, new { @class = "col-xs-2 control-label" })
                @*<label class="control-label col-xs-2" for="Email">Email Address:</label>*@
                <div class="col-xs-4">
                    @*<span class="control-label col-sm-4" id="spEmail" style="text-align: left">abc@example.com</span>*@
                    <p class="form-control-static"> @Html.DisplayFor(m => m.PC_AddressLine1)</p>
                </div>
                @Html.LabelFor(m => m.PC_AddressLine2, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.PC_AddressLine2)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.PC_City_Vill_Town, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.PC_City_Vill_Town)</p>
                </div>
                @Html.LabelFor(m => m.PC_District, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.PC_District)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.strPC_State, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.strPC_State)</p>
                </div>
                @Html.LabelFor(m => m.PC_Pin, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.PC_Pin)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.PC_Phone1, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.PC_Phone1)</p>
                </div>
                @Html.LabelFor(m => m.PC_Phone2, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.PC_Phone2)</p>
                </div>
            </div>

            <div class="hr-line-dashed-Custom"></div>
         
        </div>

    </div>
</div>