@model PHRMS.ViewModels.InsuranceViewModel
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal" role="form" id="InsuranceInfo">

            <div class="form-group">
                @Html.LabelFor(m => m.Insu_Org_Name, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.Insu_Org_Name)</p>
                </div>
                @Html.LabelFor(m => m.Insu_Org_Phone, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @*<span class="control-label col-sm-4" id="spEmail" style="text-align: left">abc@example.com</span>*@
                    <p class="form-control-static">@Html.DisplayFor(m => m.Insu_Org_Phone)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Insu_Org_Grp_Num, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.Insu_Org_Grp_Num)</p>
                </div>
                @Html.LabelFor(m => m.ValidTill, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.strValidTill)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
         
        </div>
       
    </div>
</div>