@model PHRMS.ViewModels.LegalViewModel
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal" role="form" id="LegalInfo" style="@(Model.UserId.Equals(Guid.Empty)?"display:none;":"")">

            <div class="form-group">
                @Html.LabelFor(m => m.Power_Attorney, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    <p class="form-control-static">@Html.DisplayFor(m => m.strPower_Attorney)</p>
                </div>
            </div>
            <div style="@(Model.Power_Attorney?"":"display:none;")">
                <div class="hr-line-dashed-Custom"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.strPA_DateInit, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static">@Html.DisplayFor(m => m.strPA_DateInit)</p>
                    </div>
                    @Html.LabelFor(m => m.PA_ContactPerson, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.PA_ContactPerson)</p>
                    </div>
                </div>
                <div class="hr-line-dashed-Custom"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PA_PhoneNo, "Contact Person's Phone Number", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.PA_PhoneNo)</p>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Care_Directive, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.strCare_Directive)</p>
                </div>
            </div>
            <div style="@(Model.Care_Directive?"":"display:none;")">
                <div class="hr-line-dashed-Custom"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.strCD_DateInit, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.strCD_DateInit)</p>
                    </div>
                    @Html.LabelFor(m => m.CD_ContactPerson, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.CD_ContactPerson)</p>
                    </div>
                </div>
                <div class="hr-line-dashed-Custom"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CD_PhoneNo, "Contact Person's Phone Number", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.CD_PhoneNo)</p>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Living_Will, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.strLiving_Will)</p>
                </div>
            </div>
            <div style="@(Model.Living_Will?"":"display:none;")">
                <div class="hr-line-dashed-Custom"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.strLW_DateInit, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.strLW_DateInit)</p>
                    </div>
                    @Html.LabelFor(m => m.LW_ContactPerson, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.LW_ContactPerson)</p>
                    </div>
                </div>
                <div class="hr-line-dashed-Custom"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LW_PhoneNo, "Contact Person's Phone Number", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.LW_PhoneNo)</p>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
          
        </div>
     
    </div>
</div>