@model PHRMS.ViewModels.PersonalViewModel
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal" role="form" id="PersonalInfo" >

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-xs-2 control-label" })
                @*<label class="control-label col-sm-2" style="display: inline-block;" for="Name">Name:</label>*@
                <div class="col-xs-4">
                    @*<span class="control-label col-sm-10" id="spName" style="text-align: left">James Anderson</span>*@
                    <p class="form-control-static">@Html.DisplayFor(m => m.FirstName)</p>
                </div>
                @Html.LabelFor(m => m.LastName, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @*<span class="control-label col-sm-10" id="spEmail" style="text-align: left">abc@example.com</span>*@
                    <p class="form-control-static">@Html.DisplayFor(m => m.LastName)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-xs-2 control-label" })
                @*<label class="control-label col-xs-2" for="Email">Email Address:</label>*@
                <div class="col-xs-4">
                    @*<span class="control-label col-sm-10" id="spEmail" style="text-align: left">abc@example.com</span>*@
                    <p class="form-control-static"> @Html.DisplayFor(m => m.Email)</p>
                </div>
                @Html.LabelFor(m => m.Uhid, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.Uhid)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.DOB, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.strDOBwAge)</p>
                </div>
                @Html.LabelFor(m => m.Gender, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.strGender)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.BloodType, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.strBloodType)</p>
                </div>

            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.AddressLine1, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.AddressLine1)</p>
                </div>
                @Html.LabelFor(m => m.AddressLine2, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.AddressLine2)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.City_Vill_Town, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.City_Vill_Town)</p>
                </div>
                @Html.LabelFor(m => m.District, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.District)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.strState, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.strState)</p>
                </div>
                @Html.LabelFor(m => m.Pin, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.Pin)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Work_Phone, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.Work_Phone)</p>
                    </div>*@
                @Html.LabelFor(m => m.Home_Phone, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.Home_Phone)</p>
                </div>
                @Html.LabelFor(m => m.Cell_Phone, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.DisplayFor(m => m.Cell_Phone)</p>
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Ethinicity, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static"> @Html.DisplayFor(m => m.Ethinicity)</p>
                    </div>*@
                @Html.LabelFor(m => m.DiffAbled, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    <p class="form-control-static"> @Html.DisplayFor(m => m.strDiffAbled)</p>
                    @if (!string.IsNullOrEmpty(Model.DyCertPath))
                    {
                        <a class="btn btn-primary btn-xs" href="@Url.Content("~")@Model.DyCertPath" download><i class="fa fa-download"></i></a>
                    }
                </div>
            </div>
            <div class="hr-line-dashed-Custom"></div>
            
        </div>
     
    </div>
</div>