@model List<PHRMS.ViewModels.BloodPressureAndPulseViewModel>
<div class="gj-grid-wrapper">
    <table id="grid" class="footable table table-bordered table-hover gj-grid-table">
        <thead>
            <tr>
                <th class="" style="width: 15%;text-align: left;">
                    <div style="float: left">Result Systolic</div>
                </th>
                <th class="" style="width: 15%; text-align: left;">
                    <div style="float: left">Result Diastolic</div>
                </th>
                <th class="" style="width: 15%; text-align: left;">

                    <div style="float: left">Result Pulse</div>
                </th>
                @*<th class="" style="width: 34px; text-align: left;">
                        <div style="float: left">Total Time</div>
                    </th>*@
                <th class="" style="width: 15%; text-align: left;">
                    <div style="float: left">Date</div>
                </th>
                <th class="" style="width: 40%; text-align: left;">
                    <div style="float: left">Comments</div>
                </th>

            </tr>
        </thead>
        <tbody>
           @* @foreach (var Item in Model.OrderByDescending(s => s.CollectionDate))*@
                @foreach (var Item in Model)
                {
                <tr class="">
                    <td style="text-align: left;"><div data-role="display">@Item.ResSystolic</div></td>
                    <td style="text-align: left;"><div data-role="display">@Item.ResDiastolic</div></td>
                    <td style="text-align: left;"><div data-role="display">@Item.ResPulse</div></td>
                    @*<td style="text-align: left;"><div data-role="display">@Item.ti</div></td>*@
                    <td style="text-align: left;"><div data-role="display">@Item.strCollectionDate</div></td>
                    <td style="text-align: left;"><div data-role="display">@Item.Comments</div></td>

                </tr>
            }

        </tbody>

    </table>
</div>