<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PHRMS | @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOMER style -->
    <link href="~/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="~/js/jquery-2.0.3.min.js"></script>
</head>
<body class="blank">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>MyHealthRecord</h1><p>Personal Health Record Management System</p><img src="~/images/loading-bars.svg" width="64" height="64" /> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="color-line"></div>

    <div class="back-link">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a>
    </div>

    <!-- Main view  -->
    @RenderBody()

    <!-- Section for main scripts render -->
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/vendor/metismenu/dist/metismenu.min.js"></script>
    <script src="~/vendor/icheck/icheck.min.js"></script>
    <script src="~/vendor/peity/jquery.peity.min.js"></script>
    <script src="~/vendor/sparkline/index.js"></script>
    <script src="~/scripts/charts.js"></script>
    <script src="~/scripts/homer.js"></script>
    <script src="@Url.Content("~/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/js/jquery.validate.unobtrusive.js")"></script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
