
@{
    Layout = null;
    ViewBag.Title = "Reset Password Confirmation";
}
@model PHRMSAdmin.Models.ResetPasswordViewModel
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PHRMS | Reset Password</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

    <!-- Add local styles, mostly for plugins css file -->
    <!-- Primary HOMER style -->
    <link href="/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="/content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
</head>
<body class="blank">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>PHRMS</h1><p>Personal Health Record Management System</p><img src="/images/loading-bars.svg" width="64" height="64" /> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="color-line"></div>
    <div class="register-container">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="panel-body">

                                <input type="hidden" value="@TempData["Mobile"] " id="MobileNo" name="MobileNo" />
                                <input type="hidden" value="@TempData["Email"] " id="Email" name="Email" />

                                <div class="form-group col-lg-12">
                                    <label>New Password :</label>
                                    <span class="text-danger"> *</span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control flat" })
                                    @Html.ValidationMessageFor(m => m.Password, null, new { style = "color:red" })
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Confirm Password :</label>
                                    <span class="text-danger"> *</span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control flat" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { style = "color:red" })
                                </div>
                                <div class="col-lg-12">
                                    <input type="submit" class="btn btn-success" value="Submit" />
                                    <a class="btn btn-default" href="/">Back To Login</a>
                                </div>
                            </div> //panel-body
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <strong>CDAC</strong> - Centre for Development of Advanced Computing <br /> 2015 Copyright CDAC Mohali
                </div>
            </div>
        </div>
    </div>


    <script src="/vendor/metismenu/dist/metismenu.min.js"></script>
    <script src="/vendor/icheck/icheck.min.js"></script>
    <script src="/vendor/peity/jquery.peity.min.js"></script>
    <script src="/vendor/sparkline/index.js"></script>

    <script src="/scripts/homer.js"></script>

    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Handler for local scripts -->

</body>


