
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EMRViewModels.ChangePasswordModel

@*<script type="text/javascript">
    $(document).ready(function () {
        //"Password" is the id of the password textbox
        //yours may be different so make sure to change this if necessary
        $("#NewPassword").keyup(function () {
            var length = $("#NewPassword").val().length;
            var colour = "";
           if (length <= 4)
              colour = "red" ;
           
            else if (length <= 7)
            colour = "orange";
            else
                colour = "green";
                message="Good";
            $("#strength").css("background-color", colour);
        });
    });
</script>*@



<div class="normalheader transition animated fadeIn small-header" style="text-align:center">
    <div class="hpanel hgreen" style="width: 1000px; height: 40px;">
        <div class="panel-body" style="width: 1000px; height: 80px;">

            <h3 class="font-light m-b-xs" id="tipHeader">
                <i class="fa icon-dashboard text-danger"></i>Change Password
            </h3>
            <div id="hbreadcrumb" class="pull-right">
            </div>
            <h7 id="healthTipCtrl" style="color:#B76215;"></h7>
        </div>
    </div>
</div>

<div id="page-wrapper" style="width: 1000px; height: 40px; ">
    <div id="page-inner">
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    @using (Html.BeginForm("Index", "ChangePassword", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="panel-body">
                            <div class="form-group col-lg-12">
                                @Html.ValidationMessage("CustomValidation")
                            </div>
                            <div class="row">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.OldPassword)<span style="color:red">*</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <div class="row">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NewPassword)<span style="color:red">*</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                                      
                                     </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <div class="row">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmPassword)<span style="color:red">*</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                    <!-- /.panel-body -->

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-4">
                                </div>
                                <div class="col-lg-8">
                                    @*<div class="form-group">*@
                                        <button type="submit" class="btn btn-orange" id="btnSubmit">Save</button>
                                        <a class="btn btn-default" href="javascript:history.back()">Back</a>
                                     @*</div>*@
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>


                        </div>
                    }
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


