
@{
    ViewBag.Title = "_PatientDeatil";
}
@model EMRViewModels.SuperPatientDetails
<div>
    <div class="transition animated fadeIn">

        <h1 class="font-light m-b-xs text-center">
            @if (@Model.PersonalViewModel != null)
            {
            @Model.PersonalViewModel.FirstName @Model.PersonalViewModel.LastName
            }
        </h1>
        <h2 class="font-light m-b-xs text-center">

            Patient Detail
        </h2>

    </div>

    <div class="form-horizontal">
        <div class="container-fluid" id="divMain">

            <div class="panel-group" id="accordion">

                @if (Model.EmergencyViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #9b59b6;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseTwo" data-parent="#accordion">

                            @*<div class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="cursor:pointer">*@
                            <h4 class="panel-title">
                                <a>
                                    Emergency Information
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">

                                @Html.Partial("_emergencyInformation", Model.EmergencyViewModel)

                            </div>
                        </div>
                    </div>
                }
                @if (Model.EmployerViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #9b59b6;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseThree" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Employer Information
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">

                                @Html.Partial("_employerInformation", Model.EmployerViewModel)

                            </div>
                        </div>
                    </div>
                }
                @if (Model.InsuranceViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #3498db;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseFour" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Insurance Information
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">

                                @Html.Partial("_insuranceInformation", Model.InsuranceViewModel)

                            </div>
                        </div>
                    </div>
                }
                @if (Model.LegalViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #e67e22  ;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseFour" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Legal Information
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">

                                @Html.Partial("_legalInformation", Model.LegalViewModel)

                            </div>
                        </div>
                    </div>
                }
                @if (Model.PreferencesViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #e67e22  ;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseSix" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Preferences and Special Needs
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">

                                @Html.Partial("_prefrences", Model.PreferencesViewModel)

                            </div>
                        </div>
                    </div>
                }
                @if (Model.AllergyViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #62cb31;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseSeven" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Allergy Information
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">

                                @Html.Partial("_alleryInformation", Model.AllergyViewModel)

                            </div>
                        </div>
                    </div>
                }

                @if (Model.HealthConditionViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #ffb606;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseEight" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Problem
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">

                                @Html.Partial("_HealthConditions", Model.HealthConditionViewModel)

                            </div>
                        </div>
                    </div>
                }


                @if (Model.ImmunizationViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #e74c3c;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseNine" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Immunization
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">

                                @Html.Partial("_Immunization", Model.ImmunizationViewModel)

                            </div>
                        </div>
                    </div>
                }


                @if (Model.MedicationViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #e67e22  ;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseTen" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Medication
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">

                                @Html.Partial("_Medication", Model.MedicationViewModel)

                            </div>
                        </div>
                    </div>
                }
                @if (Model.ProceduresViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #3498db;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseEleven" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Procedures
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">

                                @Html.Partial("_Procedures", Model.ProceduresViewModel)

                            </div>
                        </div>
                    </div>
                }

                @if (Model.LabTestViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #9b59b6;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseTweleve" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Lab Test
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTweleve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTweleve">
                            <div class="panel-body">

                                @Html.Partial("_LabTest", Model.LabTestViewModel)

                            </div>
                        </div>
                    </div>
                }


                @if (Model.ActivitiesViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #62cb31;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseThirteen" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Wellness - Activities
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                            <div class="panel-body">

                                @Html.Partial("_Activities", Model.ActivitiesViewModel)

                            </div>
                        </div>
                    </div>
                }


                @if (Model.BloodPressureAndPulseViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #e67e22  ;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseFourteen" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Wellness - Blood Pressure
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                            <div class="panel-body">

                                @Html.Partial("_WellnessBP", Model.BloodPressureAndPulseViewModel)

                            </div>
                        </div>
                    </div>
                }



                @if (Model.BloodGlucoseViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #e74c3c;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseFifteen" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Wellness - Blood Glucose
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                            <div class="panel-body">

                                @Html.Partial("_WellnessBG", Model.BloodGlucoseViewModel)

                            </div>
                        </div>
                    </div>
                }
                @if (Model.WeightViewModel != null)
                {
                    <div class="panel panel-default">
                        <div style="border-bottom: 1.5px solid #e67e22  ;" class="panel-heading change-cursor" data-toggle="collapse" data-target="#collapseSixteen" data-parent="#accordion">
                            <h4 class="panel-title">
                                <a>
                                    Wellness - Weight
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                            <div class="panel-body">

                                @Html.Partial("_WellnessWeight", Model.WeightViewModel)

                            </div>
                        </div>
                    </div>
                }
            </div>



        </div>
    </div>




</div>



