@model IPagedList<EMRViewModels.DocPatientDetailsViewModel>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<style>


</style>
<div id="ManageGrid">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">

            <thead>
                <tr style="background-color: #cacaca;">
                    <th>
                        First Name
                    </th>

                    <th>
                        Last Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Mobile Number
                    </th>
                    <th width="8%">

                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(Item => item.FirstName)
                        </td>

                        <td>
                            @Html.DisplayFor(Item => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(Item => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(Item => item.PhoneNumber)
                        </td>
                        <td>
                            <a class="text-info" onclick="GetPatientDetails(@item.DocPatientId)">
                                <i title="View" class="fa fa-edit"></i>

                            </a>
                            @*<a title="Edit" href="@Request.ApplicationPath.TrimEnd('/')/Patient/Edit/@item.UserId" class="text-primary">
                                    <i class="fa fa-edit "></i>

                                </a> &nbsp;

                                <a href="#" class="text-danger" data-toggle="modal"
                                   onclick="SetMessageDialog('Delete','@Request.ApplicationPath.TrimEnd('/')/Patient/Delete','@item.UserId','Do You want To delete ?')">
                                    <i class="fa fa-trash-o"></i>
                                </a>*@
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Html.Partial("_GridPaging", Model)

    </div>
    @Html.Partial("_MessageDialog", 1)
</div>