@{
    ViewBag.Title = "Index";
    Layout = null;
}
@model EMRViewModels.SuperViewModel
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->

    <title>Preview Prescription | PHRMS Plus</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->

    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.css">

    <link rel="stylesheet" href="~/vendor/metisMenu/dist/metisMenu.css">

    <link rel="stylesheet" href="~/vendor/animate.css/animate.css">

    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="~/vendor/toastr/build/toastr.min.css">

    <!-- App styles -->

    <link rel="stylesheet" href="~/styles/style.css">
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
</head>
@{
    int age = 0;
    age = DateTime.Now.Subtract(Model.DocPatientDetailsViewModel.DOB).Days;
    age = age / 365;
}
<body class="pres">

    <div id="pres" class="wrapper">

        <div class="row">

            <div class="col-lg-12 text-center m-t-md">

                <h2>@Model.PlaceViewModel.name</h2>

                <p><strong> Dr. @Model.DoctorViewModel.name  </strong>  </p>
                <p>@Model.DoctorViewModel.qualification_set</p>

                <p>@*<strong>Reg. Number: @Model. </strong>*@     </p>

                <p><strong>Add.: </strong>@Model.PlaceViewModel.AddressLine1 @Model.PlaceViewModel.AddressLine2 | <strong>Ph: </strong>@Model.DoctorViewModel.phone_number   </p>

            </div>

        </div>



        <br>

        <div id="ruler" class="container-fluid"></div><br>

        <!-- Patient Details !-->

        <div class="container">

            <div class="well well-lg">

                <div class="container-fluid">

                    <div class="col-xs-3">

                        <b>Name:</b> @Model.DocPatientDetailsViewModel.FirstName @Model.DocPatientDetailsViewModel.LastName
                    </div>

                    <div class="col-xs-3">

                        <b>AGE/Sex:</b> @age Year/ @Model.DocPatientDetailsViewModel.Gender
                    </div>

                    <div class="col-xs-3">

                        <b>Email:</b> @Model.DocPatientDetailsViewModel.EmailAddress
                    </div>

                    <div class="col-xs-3">

                        <b>Phone:</b> @Model.DocPatientDetailsViewModel.PhoneNumber
                    </div>

                </div>

            </div>

        </div>

        <!-- End Patient Details !-->
        <!-- Patient History !-->
        <!-- End History !-->
        <!-- Prescription !-->
        @if (@Model.BloodPressureAndPulseViewModel != null || @Model.WeightViewModel != null || (@Model.VitalSignViewModel != null && @Model.VitalSignViewModel.Count > 0) || @Model.BloodGlucoseViewModel != null)
        {


        <div class="container">
            <h3>Vitals</h3>
            <div class="well well-lg">
                <div class="container-fluid">
                    <div class="col-xs-12"><h4>VITALS</h4></div>
                    <div class="col-xs-12 container-fluid table-responsive">
                        <table class="table table-striped table-bordered">
                            <tr>
                                @if (@Model.BloodPressureAndPulseViewModel != null)
                                {
                                    if (@Model.BloodPressureAndPulseViewModel.ResSystolic != null)
                                    {
                                        <td>
                                            <b>Systolic:</b>

                                        </td>
                                        <td>@Model.BloodPressureAndPulseViewModel.ResSystolic</td>
                                    }
                                    if (@Model.BloodPressureAndPulseViewModel.ResDiastolic != null)
                                    {
                                        <td>
                                            <b>Diastolic:</b>
                                        </td>
                                        <td>@Model.BloodPressureAndPulseViewModel.ResDiastolic</td>
                                    }
                                    if (@Model.BloodPressureAndPulseViewModel.ResPulse != null)
                                    {
                                        <td>
                                            <b>Pulse:</b>
                                        </td>
                                        <td>@Model.BloodPressureAndPulseViewModel.ResPulse</td>
                                    }
                                }
                                @if (@Model.WeightViewModel != null)
                                {
                                    <td>
                                        <b>Weight:</b>
                                    </td>

                                    <td>@Model.WeightViewModel.Result</td>
                                }
                            </tr>
                            <tr>
                                @if (@Model.VitalSignViewModel != null && @Model.VitalSignViewModel.Count > 0)
                                {
                                    if (@Model.VitalSignViewModel.Where(s => s.Type == 3).FirstOrDefault() != null)
                                    {
                                        <td>
                                            <b>Respiratory Rate:</b>
                                        </td>
                                        <td>@Model.VitalSignViewModel.Where(s => s.Type == 3).FirstOrDefault().Result</td>
                                    }
                                    if (@Model.VitalSignViewModel.Where(s => s.Type == 3).FirstOrDefault() != null)
                                    {
                                        <td>
                                            <b>Temperature:</b>
                                        </td>
                                        <td>@Model.VitalSignViewModel.Where(s => s.Type == 3).FirstOrDefault().Result</td>
                                    }
                                    if (@Model.VitalSignViewModel.Where(s => s.Type == 4).FirstOrDefault() != null)
                                    {
                                        <td>
                                            <b>SpO2:</b>
                                        </td>
                                        <td>@Model.VitalSignViewModel.Where(s => s.Type == 4).FirstOrDefault().Result</td>
                                    }
                                }
                                @if (@Model.BloodGlucoseViewModel != null)
                                {
                                    <td>
                                        <b>Blood Glucose:</b>
                                    </td>
                                    <td>@Model.BloodGlucoseViewModel.Result</td>
                                }
                            </tr>
                        </table>

                    </div>

                </div>
            </div>
        </div>
        }
        @*<div class="container">
                <div class="well well-lg">
                    <div class="container-fluid">
                        <div class="col-xs-12"><b>Problem Diagnosis:</b> weewew</div>
                        <br>
                    </div>
                </div>
            </div>*@
        <div class="container">
            <h3>  Diagnosis & Advice</h3>
            <div class="well well-lg">

                <div class="container-fluid">
                    <div class="col-xs-4">

                        <b>Physical Examination/Complaints: </b> @Model.EprescriptionViewModel.PhysicalExamination
                    </div>
                    <div class="col-xs-4">

                        <b>Problem Diagnosis: </b> @Model.EprescriptionViewModel.ProblemDiagnosis
                    </div>
                    <div class="col-xs-4">

                        <b>Other Advice: </b> @Model.EprescriptionViewModel.OtherAdvice
                    </div>

                </div>

            </div>

        </div>
        @if (Model.Advice != null && Model.Advice.Count > 0)
        {
            <div class="container">

                <div class="well well-lg">

                    <div class="container-fluid">

                        <div class="col-xs-12">

                            <br />
                            <div class="container-fluid table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:60%"> Name </th>
                                            <th> Type </th>

                                        </tr>
                                    </thead>
                                    <tbody id="recordTable">
                                        @foreach (var Item in Model.Advice.OrderBy(s => s.TypeId))
                                        {
                                            <tr>
                                                <td>@Item.Name </td>
                                                <td>
                                                    @if (EMRViewModels.ReportParameters.Immunizations == @Item.ModuleId)
                                                    {
                                                        <text>Immunization</text>
                                                    }
                                                    else if (EMRViewModels.ReportParameters.Tests == @Item.ModuleId)
                                                    {
                                                        <text>Lab/Tests</text>
                                                    }
                                                    else if (EMRViewModels.ReportParameters.Procedures == @Item.ModuleId)
                                                    {
                                                        <text>Procedures</text>
                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>

                </div>

            </div>
        }
        @if (Model.AllergiesViewModel != null && Model.AllergiesViewModel.Count > 0)
        {
            <div class="container">
                <h3>Allergy</h3>
                <div class="well well-lg">

                    <div class="container-fluid">

                        <div class="col-xs-12">

                            <br />
                            <div class="container-fluid table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:50%"> Name </th>
                                            <th> Duration </th>
                                            <th style="width:20%"> Severity </th>

                                        </tr>
                                    </thead>
                                    <tbody id="clinicTable">
                                        @foreach (var Item in Model.AllergiesViewModel)
                                        {
                                            <tr>
                                                <td>
                                                    @Item.strAllergyType

                                                </td>

                                                <td>@Item.strDuration</td>
                                                <td>@Item.strSeverity</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>

                </div>

            </div>
        }


        @if (Model.ProblemViewModel != null && Model.ProblemViewModel.Count > 0)
        {
            <div class="container">
                <h3>Problem</h3>
                <div class="well well-lg">

                    <div class="container-fluid">

                        <div class="col-xs-12">

                            <br />
                            <div class="container-fluid table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:50%"> Name </th>
                                            <th> Diagnosis Date </th>
                                            <th style="width:20%"> Diagnosis By </th>

                                        </tr>
                                    </thead>
                                    <tbody id="ProblemTable">
                                        @foreach (var Item in Model.ProblemViewModel)
                                        {
                                            <tr>
                                                <td>
                                                    @Item.strProblemType

                                                </td>

                                                <td>@Item.DiagnosisDate.ToString("dd/MM/yyyy")</td>
                                                <td>@Item.Provider</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>

                </div>

            </div>
        }

        @if (Model.MedicationViewModel != null && Model.MedicationViewModel.Count > 0)
        {
            <div class="container">
                <h3>Medication</h3>
                <div class="well well-lg">

                    <div class="container-fluid">

                        <div class="col-xs-12">

                            <br />
                            <div class="table-responsive">
                                <table class="tbMed table table-bordered table-striped table-hover">
                                    <thead>

                                        <tr>
                                            <th>Name</th>
                                            <th>Frequency</th>
                                            <th>Strength</th>
                                            <th>Dose</th>
                                            <th>Unit</th>
                                            <th>Route</th>
                                            <th>End Date</th>

                                        </tr>
                                    </thead>
                                    <tbody id="med-box">
                                        @foreach (var Item in Model.MedicationViewModel)
                                        {
                                            <tr>
                                                <td>
                                                    @Item.MedicationName
                                                </td>
                                                <td>
                                                    @Item.strFrequency
                                                </td>
                                                <td>
                                                    @Item.Strength
                                                </td>
                                                <td>
                                                    @Item.DosValue
                                                </td>
                                                <td>
                                                    @Item.strDosUnit
                                                </td>
                                                <td>
                                                    @Item.strRoute
                                                </td>
                                                <td>
                                                    @Item.DispensedDate.ToString("dd/MM/yyyy")
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>

                </div>

            </div>
        }
        @if (Model.Appointment_FeesViewModel != null)
        {
            <div class="container">
                <h3>Fees And Appointment</h3>
                <br />
                <div class="well well-lg">

                    <div class="container-fluid">

                        <div class="col-xs-3">

                            <b>Fees: </b> @Model.Appointment_FeesViewModel.NetFee.ToString("00")
                        </div>

                        <div class="col-xs-3">

                            <b>Next Appointment: </b> @Model.Appointment_FeesViewModel.Date.ToString("dd/MM/yyyy")
                        </div>
                        <div class="col-xs-3">

                            @{
                                var min = "";
                                if (Model.Appointment_FeesViewModel.Mins == 0)
                                {
                                    min = "00";

                                }
                                else
                                {
                                    min = Model.Appointment_FeesViewModel.Mins.ToString();
                                }
                            }


                            <b>Time : </b> @Model.Appointment_FeesViewModel.Hours : @min @Model.Appointment_FeesViewModel.meridiem
                        </div>

                    </div>

                </div>

            </div>
        }

        

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>

    <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>

    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/vendor/jquery-flot/jquery.flot.js"></script>

    <script src="~/vendor/jquery-flot/jquery.flot.resize.js"></script>

    <script src="~/vendor/jquery-flot/jquery.flot.pie.js"></script>

    <script src="~/vendor/flot.curvedlines/curvedLines.js"></script>

    <script src="~/vendor/jquery.flot.spline/index.js"></script>

    <script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>

    <script src="~/vendor/iCheck/icheck.min.js"></script>

    <script src="~/vendor/peity/jquery.peity.min.js"></script>

    <script src="~/vendor/sparkline/index.js"></script>

    <script src="~/vendor/toastr/build/toastr.min.js"></script>

    <script src="~/vendor/EasyAutocomplete/jquery.easy-autocomplete.min.js"></script>

    <!-- App scripts -->

    <script src="~/scripts/homer.js"></script>

    <script src="~/scripts/charts.js"></script>

    <script>var u = 'enter url'; </script>

    <script>var b = '~/';</script>

    <script src="~/scripts/xepOnline.jqPlugin.js"></script>



    <script src="~/scripts/eprescription.js"></script>





</body>
